package ${package}.${moduleName}.domain.specification;

import com.learn.project.common.core.domain.AbstractSpecification;
import ${package}.${moduleName}.domain.model.${classname}.${className};
import org.springframework.stereotype.Component;

/**
 * ${comments}-创建时校验类
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Component
public class ${className}CreateSpecification extends AbstractSpecification<${className}> {

    @Override
    public boolean isSatisfiedBy(${className} ${classname}) {
        return true;
    }
}
